@{

	ViewData["Title"] = "Home Page";
	@model List<Post>
}

<!-- Feature post -->
<section class="bg0">
	@if (TempData["Status"] != null)
	{
		<h3 class="row cl10 justify-content-center size-a-20  borad-3 f1-s-12  p-rl-15 m-t-20 f1-m-2 tab01-title">@TempData["Status"]</h3>
	}


	@{
		var featuredPost = Model.OrderByDescending(p => p.Date).Take(3);

	}

	<div class="row m-rl-0 justify-content-center">
		@foreach (var item in featuredPost)
		{
						<div class="col-md-4 p-rl-1 p-b-2">
							<div class="bg-img1 size-a-11 how1 pos-relative" style="background-image: url(@item.ImageUrl);">
								<a asp-controller="Post" asp-action="Detail"
								asp-route-title=@item.Title
								asp-route-content=@item.Content
								asp-route-imageUrl=@item.ImageUrl
								asp-route-categoryId=@item.CategoryId
								asp-route-date=@item.Date.ToString("MM/dd/yyyy")
								asp-route-id=@item.Id
								class="dis-block how1-child1 trans-03"></a>

								<div class="flex-col-e-s s-full p-rl-25 p-tb-18">
									<a asp-controller="Category" asp-action="Category" asp-route-categoryId = "@item.CategoryId"
										class="dis-block how1-child2 f1-s-2 cl0 bo-all-1 bocl0 hov-btn1 trans-03 p-rl-5 p-t-2">
									@ViewBag.Categories[item.CategoryId-1].Name
									</a>

									<h3 class="how1-child2 m-t-14 m-b-10">
										<a asp-controller="Post" asp-action="Detail"
											asp-route-title=@item.Title
											asp-route-content=@item.Content
											asp-route-imageUrl=@item.ImageUrl
											asp-route-categoryId=@item.CategoryId
											asp-route-date=@item.Date.ToString("MM/dd/yyyy")
											asp-route-id=@item.Id
											class="f1-l-1 cl0 hov-cl10 trans-03 respon1">
											@item.Title
										</a>
									</h3>
								</div>
							</div>
						</div>


		}
	</div>

	

	</section>

	<!-- Post -->
	<section class="post bg0 p-t-85">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-10 col-lg-8">
					<div class="p-r-10 p-rl-0-sr991 p-b-20">
					
					
							
						@foreach (var category in @ViewBag.Categories)
						{
						<!-- Category -->
							<div class="p-b-25 m-r--10 m-r-0-sr991">
								<div class="how2 how2-cl5 flex-s-c m-r-10 m-r-0-sr991">
									<h3 class="f1-m-2 cl17 tab01-title">
									@category.Name
									</h3>
								</div>

								<div class="row p-t-35">


								@{
									var recentPosts = Model.Where(p => p.CategoryId == (@ViewBag.Categories.IndexOf(category)+1)).Take(4);

								}

								@foreach (var post in recentPosts)
								{
										
										<div class="col-sm-6 p-r-25 p-r-15-sr991">


												<!-- Item post -->
											<div class="flex-wr-sb-s m-b-30">
												<a asp-controller="Post" asp-action="Detail"
													asp-route-title=@post.Title
													asp-route-content=@post.Content
													asp-route-imageUrl=@post.ImageUrl
													asp-route-categoryId=@post.CategoryId
													asp-route-date=@post.Date.ToString("MM/dd/yyyy")
													asp-route-id=@post.Id
													class="size-w-1 wrap-pic-w hov1 trans-03">
													<img src="@post.ImageUrl" alt="IMG">
												</a>

												<div class="size-w-2">
													<h5 class="p-b-5">
														<a asp-controller="Post" asp-action="Detail"
															asp-route-title=@post.Title
															asp-route-content=@post.Content
															asp-route-imageUrl=@post.ImageUrl
															asp-route-categoryId=@post.CategoryId
															asp-route-date=@post.Date.ToString("MM/dd/yyyy")
															asp-route-id=@post.Id
															class="f1-s-5 cl3 hov-cl10 trans-03">
															@post.Title
														</a>
													</h5>


													<span class="cl8">

														<span class="f1-s-3">
															@post.Date.ToString("dddd, dd MMMM yyyy")
														</span>
													</span>
												</div>
											</div>



									</div>
										
								}

								</div>

							</div>	
						}
						
					</div>	







					


				</div>

				@*<div class="col-md-10 col-lg-4">
					<div class="p-l-10 p-rl-0-sr991 p-b-20">
						<!-- Stay Connected -->
						<div class="p-b-35">
							<div class="how2 how2-cl4 flex-s-c">
								<h3 class="f1-m-2 cl3 tab01-title">
									Stay Connected
								</h3>
							</div>

							<ul class="p-t-35">
								<li class="flex-wr-sb-c p-b-20">
									<a href="#" class="size-a-8 flex-c-c borad-3 size-a-8 bg-facebook fs-16 cl0 hov-cl0">
										<span class="fab fa-facebook-f"></span>
									</a>

									<div class="size-w-3 flex-wr-sb-c">
										<span class="f1-s-8 cl3 p-r-20">
											Facebook
										</span>

										<a href="#" class="f1-s-9 text-uppercase cl3 hov-cl10 trans-03">
											Like
										</a>
									</div>
								</li>

								
									
							</ul>
						</div>

						

						
						
						
							
						<!-- Subscribe -->
						<div class="bg10 p-rl-35 p-t-28 p-b-35 m-b-55">
							<h5 class="f1-m-5 cl0 p-b-10">
								Subscribe
							</h5>

							<p class="f1-s-1 cl0 p-b-25">
								Get all latest content delivered to your email a few times a month.
							</p>

							<form class="size-a-9 pos-relative">
								<input class="s-full f1-m-6 cl6 plh9 p-l-20 p-r-55" type="text" name="email" placeholder="Email">

								<button class="size-a-10 flex-c-c ab-t-r fs-16 cl9 hov-cl10 trans-03">
									<i class="fa fa-arrow-right"></i>
								</button>
							</form>
						</div>
						
						
						
					</div>
				</div>*@


			</div>

				
		</div>
		
	</section>

	

	