@{
    @model Post
    ViewData["Title"] = Model.Title;
}


<!-- Content -->
	<section class="bg0 p-b-70 p-t-5">
		<!-- Title -->
		<div class="bg-img1 size-a-18 how-overlay1" style="background-image: url(@Model.ImageUrl);">
			<div class="container h-full flex-col-e-c p-b-58">
				<a asp-controller="Category" asp-action="Category" asp-route-categoryId = "@Model.CategoryId"
					class="f1-s-10 cl0 hov-cl10 trans-03 text-uppercase txt-center m-b-33">
					@ViewBag.Categories[Model.CategoryId-1].Name
				</a>

				<h3 class="f1-l-5 cl0 p-b-16 txt-center respon2">
					@Model.Title
				</h3>

				<div class="flex-wr-c-s">
					<span class="f1-s-3 cl0 m-rl-7 txt-center">
						
						<span>
							@Model.Date.ToString("dddd, dd MMMM yyyy")
						</span>
					</span>

				</div>
			</div>
		</div>

		<!-- Detail -->
		<div class="container p-t-82">
			<div class="row justify-content-center">
				<div class="col-md-10 col-lg-8 p-b-100">
					<div class="p-r-10 p-r-0-sr991">
						<!-- Blog Detail -->
						<div class="p-b-70">
							<p class="f1-s-11 cl6 p-b-25">
								@Model.Content 
							</p>
							<div class="d-flex justify-content-center">
								<a asp-controller="Post" asp-action="Update"
								asp-route-title=@Model.Title
								asp-route-content=@Model.Content
								asp-route-categoryId=@Model.CategoryId
								asp-route-id=@Model.Id>
								<button class="size-a-20 bg2 borad-3 f1-s-12 cl0 hov-btn1 trans-03 p-rl-15 m-t-20">Redact</button>

								</a>

							</div>

						<!-- Leave a comment -->
						@*<div>
							<h4 class="f1-l-4 cl3 p-b-12">
								Leave a Comment
							</h4>

							<p class="f1-s-13 cl8 p-b-40">
								Your email address will not be published. Required fields are marked *
							</p>

							<form>
								<textarea class="bo-1-rad-3 bocl13 size-a-15 f1-s-13 cl5 plh6 p-rl-18 p-tb-14 m-b-20" name="msg" placeholder="Comment..."></textarea>

								<input class="bo-1-rad-3 bocl13 size-a-16 f1-s-13 cl5 plh6 p-rl-18 m-b-20" type="text" name="name" placeholder="Name*">

								<input class="bo-1-rad-3 bocl13 size-a-16 f1-s-13 cl5 plh6 p-rl-18 m-b-20" type="text" name="email" placeholder="Email*">

								<input class="bo-1-rad-3 bocl13 size-a-16 f1-s-13 cl5 plh6 p-rl-18 m-b-20" type="text" name="website" placeholder="Website">

								<button class="size-a-17 bg2 borad-3 f1-s-12 cl0 hov-btn1 trans-03 p-rl-15 m-t-10">
									Post Comment
								</button>
							</form>
						</div>*@

					</div>
				</div>

			</div>
		</div>
		</div>
	</section>
